<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/kendoui/styles/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/kendoui/styles/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/index.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/kendoui/js/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/kendoui/js/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/kendoui/js/cultures/kendo.culture.zh-CHS.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sea-debug.js")" type="text/javascript"></script>
    @RenderSection("script", false)
</head>
<body class="k-content">
    <div>
        @RenderBody()
    </div>
</body>
</html>
